@use '../variaveis';

.button{
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;

    &--primary {
        color: variaveis.$textColor;
        background-color: #4F2AC3;
    }

    @media (max-width:640px) {
        display: flex;
        width: 100%;
        align-items: center;
        
    }

    @media (max-width:1024px) {
        display: flex;
        align-items: center;
    }
}